@import '../../../scss/_global.scss';

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @extend %box-bb;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// base
html,
#app {
    height: 100%;
}

html {
    font-size: $html_font_size;
    margin: 0 auto;
    background: #fff;
}

body {
    @extend %font-family;
    font-size: $s-base;
    color: $c-base;
    line-height: 1.5;
    word-break: break-all;
    background: $c-bg;
    min-height: 100%;
}
