@import '../_global.scss';

/* 公共按钮 start */
/*
<button class="btn-bg | btn-bd"></button>
*/
// 背景色按钮
%btn-style {
    font-size: rem(30);
    height: rem(88);
    line-height: rem(88);
    display: block;
    margin: auto;
    text-align: center;
    @extend %bdrs-base;
    width: 100%;
}

.btn-bg {
    @extend %btn-style;
    background: $c-theme;
    color: $c-white;
}
// 边框按钮
.btn-bd {
    @extend %btn-style;
    background: $c-white;
    color: $c-theme;
    border: 1px solid currentColor;
}
// 按钮盒子
.btn-wrap {
    padding: rem(100) 0;
}
/* 公共按钮 end */
