@import '../_global.scss';

/**
 * 网格系统
 *
 <div class="grid">
     <div class="grid-col grid-col-12">12</div>
     <div class="grid-col grid-col-12">12</div>
 </div>

 <div class="grid grid-gutter">
     <div class="grid-col grid-col-12">12</div>
     <div class="grid-col grid-col-12">12</div>
 </div>
 */

// class-name
$grid: grid !default;
$grid-col: -col !default;
$grid-gutter: -gutter !default;

$grid-column: 24 !default;//分24栏
$grid-gutter-space: 2% !default;//间距8px 可选

.#{$grid} {
    @extend %clearfix;

    &#{$grid-col} {
        @extend %fl;
    }

    &#{$grid-gutter} {
        margin: 0 (-$grid-gutter-space);

        .#{$grid}#{$grid-col} {
            padding: 0 ($grid-gutter-space);
        }
    }
}

@for $i from 1 through $grid-column {
    .#{$grid}#{$grid-col}-#{$i} {
        width: $i / $grid-column * 100%;
    }
}
