/* function
   ========================================================================== */

/**
 * rem($px, $width)
 * @param  {Number} $px     px值
 * @param  {Number} $width  设计稿宽度
 * @return {Number}         rem值
 * e.g.
 * rem(30)
 * rem(30, 750)
 */
$base_font: 100 !default; //默认 字体 大小
$html_font_size: $base_font + px;

$base_width: 320 !default; //默认 屏幕 宽度
$design_width: 750 !default; //默认 设计稿 宽度

@function rem($px, $width: $design_width) {
    @return $px * $base_width / $base_font / $width + rem;
}

/**
 * _global
 * scss变量，placeholder，mixin，function
 */

/* variable
   ========================================================================== */

// color
$c-theme: #00ABF0 !default;
$c-base: #333 !default;
$c-border: #DBDBDB !default;
$c-bg: #F7F7F7 !default;

$c-white: #fff !default;
$c-gray: #BBBBBB !default;
$c-yellow: #FFB700 !default;
$c-red: #E33133 !default;

// size
$s-base: rem(30) !default;
$s-min: rem(26) !default;
$s-max: rem(70) !default;

$s-lg: rem(40) !default;
$s-md: rem(36) !default;
$s-sm: rem(32) !default;

/* placeholder
   ========================================================================== */

// float
%clearfix {
    zoom: 1;
    &:after {
        @extend %cont;
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }
}

%fl {
    float: left;
}

%fr {
    float: right;
}

// text-align
%tac {
    text-align: center;
}

%tal {
    text-align: left;
}

%tar {
    text-align: right;
}

// background
%bg-white {
    background: $c-white;
}

%bgr-no {
    background-repeat: no-repeat;
}

%bgs-full {
    background-size: 100%;
}

%bgp-ct {
    background-position: center top;
}

%bgp-cc {
    background-position: center center;
}

%bgp-cl {
    background-position: center left;
}

// position
%dir-lr {
    left: 0;
    right: 0;
}

%dir-tb {
    top: 0;
    bottom: 0;
}

%pos-a {
    position: absolute;
}

%pos-r {
    position: relative;
}

%pos-cc {
    @extend %pos-a;
    @extend %dir-lr;
    @extend %dir-tb;
    @extend %mg-auto;
}

%pos-lc {
    @extend %pos-a;
    @extend %dir-tb;
    @extend %mg-auto;
    left: 0;
}

%cont {
    content: '';
}

// display
%dn {
    display: none;
}

%db {
    display: block;
}

%dib {
    display: inline-block;
}

%tb-full {
    width: 100%;
    display: table;
}

%tb-cell {
    display: table-cell;
    vertical-align: middle;
}

// other
%font-family {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

%fw-n {
    font-weight: normal;
}

%li-no {
    list-style: none;
}

%mg-auto {
    margin: auto;
}

%mb-sm {
    margin-bottom: $s-sm !important;
}

%ov-h {
    overflow: hidden;
}

%wh-full {
    width: 100%;
    height: 100%;
}

%bdrs-circle {
    border-radius: 50%;
}

%bdrs-base {
    border-radius: rem(10);
}

%bdrs-full {
    border-radius: rem(200);
}

%border-none {
    border: none !important;
}

%cur-p {
    cursor: pointer;
}

%box-bb {
    box-sizing: border-box;
}

%toe {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* mixin
   ========================================================================== */

/**
 * border($d, $w, $c, $s)
 * @param $d 方位 top | right | bottom | left
 * @param $w 宽度 1[px|rem]
 * @param $c 颜色 #DBDBDB
 * @param $s 样式 solid | dashed | dotted
 * e.g.
 * @include border();           => border: 1px solid #DBDBDB;
 * @include border($d: bottom); => border-bottom: 1px solid #DBDBDB;
 * @include border($w: 0); => border: 0;
 * @include border($d: bottom, $w: 0); => border-bottom: 0;
 */
$border_width: 1px !default;
$border_color: $c-border !default;
$border_style: solid !default;

@mixin border(
    $d: null,
    $w: $border_width,
    $c: $border_color,
    $s: $border_style
) {
    $border-name: if($d, border-#{$d}, border);

    @if $w != 0 {
        #{$border-name}: $w $s $c;
    } @else {
        #{$border-name}: none;
    }
}

/**
 * 背景 cover
 * @include bg-image(cash, rem(30), center left);
 * @include bg-image(cash, $p: center left);
 */
@mixin bg-image($img_url, $s: null, $p: center center, $r: no-repeat) {
    background-image: url('../images/#{$img_url}.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/#{$img_url}.png', sizingMethod='scale')\0;

    @if $s {
        background-size: $s;
    } @else {
        @extend %bgs-full;
    }
    @if $p {
        background-position: $p;
    } @else {
        @extend %bgp-cc;
    }
    @if $r {
        background-repeat: $r;
    } @else {
        @extend %bgr-no;
    }
}

/**
 * 模糊
 * @include blur(10px);
 */
@mixin blur($s: null) {
    @extend %ov-h;
    filter: blur(#{$s});
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$s}')\0;
}

/**
 * 圆
 * @include circle(20px);
 */
@mixin circle($l: null) {
    width: $l;
    height: $l;
    @extend %bdrs-circle;
}
