@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", (primary: md-get-palette-color(blue, A200), accent: md-get-palette-color(blue, A200)));
@import '~vue-material/dist/components/MdField/theme';
.md-helper-text {
  color: red !important;
  font-size: 12px;
}

.md-field .md-count {
  display: none !important;
}
.md-field.md-theme-default:after{
  background-color: rgba(0, 0, 0, 0.22);
}
.md-field .md-input, .md-field .md-textarea{
  color: #aaaaaa;
}